*{
    padding: 0;
    margin: 0;
}
.container{
    position: absolute;
    margin-top: -15px;
    height: 100px;
    width: 850px;
    margin-left: 200px;
    border-radius: 8px;
    margin-bottom: 40px;
    background-color: white;
    
}
.one{
    color:rgb(0, 0, 0);
    font-family: "poppins", sans-serif;
    text-align: center;
    font-size: 30px;
}
.two{
    font-family: "poppins", sans-serif;
    text-align: center;
    font-size: 15px;
    /* font-weight: 500; */
    /* font-size: 12px; */
    margin-left: 2px;
    margin-top: 5px;
}
.three{
    background-color: rgb(32, 159, 178);
    margin-left:380px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid;
    border-color: black;
    color: thistle;
    margin-top: 10px;

}
.four{
    background-image: url(1318313.jpg);
    height: 400px;
    width:850px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 5px;
    
}
.abc{
    font-family: "poppins", sans-serif;
    text-align: center;
    margin-top: 35px;
    font-size: 8px;
}
